<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Home</h1>
<hr>
<ul>
	<li><a th:href="@{/loginUser}">ログイン中のユーザー専用</a></li>
	<li><a th:href="@{/normal}">通常ユーザー専用</a></li>
	<li><a th:href="@{/admin}">管理者ユーザー専用</a></li>
</ul>

<th:block sec:authorize="authenticated">
	<p>ログイン中: 
	   <span sec:authentication="principal.name"></span>
	</p>
	<form th:action="@{/logout}" method="post">
		<p>
			<input type="submit" value="ログアウト">
		</p>
	</form>
</th:block>
</body>
</html>