<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- ログアウト直後のメッセージ -->
<p th:if="${logoutMsg}" th:text="${logoutMsg}"></p>

<form th:action="@{/login}" method="post" th:object="${user}">
	<!-- ログイン非認証エラー -->
	<p class="error" th:if="${#fields.hasGlobalErrors()}" 
	                 th:each="error : ${#fields.globalErrors()}"
	                 th:text="${error}"></p>
		
	<span class="error" th:errors="*{loginId}"></span>
    <p>ログインID: 
       <input type="text" th:field="*{loginId}">
    </p>
    
	<span class="error" th:errors="*{loginPass}"></span>
    <p>パスワード: 
       <input type="password" th:field="*{loginPass}">
    </p>
    
    <input type="submit" value="ログイン">
</form>
</body>
</html>